body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#first {
    background: #c0392b;
}

#first::after {
    content: "";
    clear: both;
    display: block;
}

#first > li {
    float: left;
    position: relative;
}

#navi a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #FFFFFF;
}

#second {
    position: absolute;
    background: #c0392b;
    display: none;
}

#first > li:hover #second {
    display: block;
}

#second > li {
    position: relative;
    width: 150px;
}

#third {
    position: absolute;
    top: 0;
    left: 100%;
    background: #c0392b;
    display: none;
}

#third > li {
    width: 150px;
    position: relative;
}

#second > li:hover #third {
    display: block;
}

#fourth {
    position: absolute;
    top: 0;
    left: 100%;
    background: #c0392b;
    width: 150px;
    display: none;
}

#third > li:hover #fourth {
    display: block;
}

#navi ul li:hover {
    background: #e74c3c;
}
